:root {
  font-size: 62.5%;

  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  color: var(--white);
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid var(--white);
}

h1 {
  text-align: center;
  font-size: var(--xlarge);
}

p {
  font-size: var(--large);
}
