:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

h1 {
  text-align: center;
}
